services:
  reservations:
    build: 
      context: .
      dockerfile: ./apps/reservations/Dockerfile
      target: development
    command: pnpm run start:dev reservations
    env_file:
      - ./apps/reservations/.env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/sleepr
    ports:
      - 3000:3000
    volumes:
      - .:/usr/src/app
    depends_on:
      - mongo

  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: development
    command: pnpm run start:dev auth
    env_file:
      - ./apps/auth/.env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/sleepr
    ports:
      - 3001:3001
    volumes:
      - .:/usr/src/app
    depends_on:
      - mongo

  payments:
    build:
      context: .
      dockerfile: ./apps/payments/Dockerfile
      target: development
    command: pnpm run start:dev payments
    env_file:
      - ./apps/payments/.env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/sleepr
    volumes:
      - .:/usr/src/app
    depends_on:
      - mongo

  notifications:
    build:
      context: .
      dockerfile: ./apps/notifications/Dockerfile
      target: development
    command: pnpm run start:dev notifications
    env_file:
      - ./apps/notifications/.env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/sleepr
    volumes:
      - .:/usr/src/app
    depends_on:
      - mongo
      
  mongo:
    image: mongo:latest
    ports:
      - 27017:27017

  rabbitmq:
    image: rabbitmq:latest
    ports:
      - 5672:5672